@using serkan_test1.Models
@model MusteriDto
@{
    ViewData["Title"] = "Home Page";
}
@Model.Adi
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form action="/home/postindex" method="post">
    
    <input type="text" value="@Model.Adi" name="adi" />
    <button type="submit">gonder</button>

</form>

